<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>page <%=title %></title>
</head>


<body>
  
  <%- include('layout'); -%>
  <div class="container">
  <% posts.forEach((post)=>{ %>
    <h2> <%=post.title %></h2>
    <img src="<%=post.img%>" title='alt of <%= post.title %>' height="200" width="200">
    <hr>
    <%=post.content %>
  <% }) %>
</div>
</body>

</html>